<section class="mx-5">
  <h1 class="text-2xl font-bold">Pipes Numericos</h1>
  <h3 class="text-xl font-thin">Pipes Incluidos en Angular</h3>
</section>
<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
  <div class="stat">
    <div class="stat-title">Number: '1.2-2'</div>
    <div class="stat-value">{{ totalVenta() | number: "1.2-2" }}</div>
    <div class="stat-desc">{{ totalVenta() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Number: '1.1-2'</div>
    <div class="stat-value">{{ totalVenta() + 1234 | number: "1.1-2" }}</div>
    <div class="stat-desc">{{ totalVenta() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Currency</div>
    <div class="stat-value">{{ totalVenta() | currency : "CAD" : 'symbol-narrow' : '1.2-4' }}</div>
    <div class="stat-desc">{{ totalVenta() }}</div>
  </div>

  <div class="stat">
    <div class="stat-title">Percent</div>
    <div class="stat-value">{{  porcentaje() | percent : '1.2-2' }}</div>
    <div class="stat-desc">{{ porcentaje() }}</div>
  </div>
</div>
